/*--APPS-NOTEBLOCK*/

.apps#noteblock {
  position: relative;
  --lines: #ffffff67;
}

.apps#noteblock::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  filter: grayscale(0.6);
  background-image: url(../../assets/flowers.jpg);
  background-size: cover;
}

/*--APPS-NOTEBLOCK-UTILS-TEXTAREA*/

.apps#noteblock textarea {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--foreground);
  resize: none;
  word-wrap: break-word;
}

.apps#noteblock textarea::placeholder {
  color: var(--lines);
  text-align: center;
}

/*--APPS-NOTEBLOCK-UTILS*/

.apps#noteblock .utils {
  position: relative;
  display: flex;
  border-top: 0.3rem solid var(--lines);
  width: 100%;
}

.apps#noteblock .utils button {
  width: 100%;
  height: 3rem;
  background-color: transparent;
  padding: 0.5rem;
}

.apps#noteblock .utils button:hover {
  background-color: var(--lines);
}

.apps#noteblock .utils button:active {
  background-color: var(--foreground);
}

.apps#noteblock .utils button:nth-child(1) {
  border-right: 0.3rem solid var(--lines);
}

.apps#noteblock .utils button img {
  height: 100%;
}
