.apps#todo ul,
.apps#todo li,
.apps#todo li p,
.apps#todo ul li button {
  display: flex;
  flex-direction: column;
}

.apps#todo {
  position: relative;
  overflow: hidden;
}

.apps#todo ul {
  overflow-y: scroll;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}

.apps#todo ul li {
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  background-color: var(--comment);
  padding: 1rem;
  transition: all 0.3s;
  gap: 1rem;
}

.disappear {
  animation: disappear 0.2s forwards;
}

.apps#todo ul li p {
  font-size: 1.5rem;
  height: fit-content;
  padding: 0.25rem;
  width: 100%;
  word-wrap: break-word;
  text-align: start;
  color: var(--foreground);
}

.apps#todo ul li button {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem 0.5rem 1.5rem 1.5rem;
  background-color: var(--green);
}

.apps#todo ul li button:hover {
  animation: shake-shake-bololo 1.5s infinite;
}

.apps#todo ul li button:active {
  filter: hue-rotate(160deg);
  animation: none;
}

.apps#todo ul li button img {
  pointer-events: none;
}

.apps#todo input {
  width: 100%;
  height: 4rem;
  background-color: var(--shadow);
  border: none;
  font-size: 1.6rem;
  color: var(--foreground);
  padding: 1rem;
}
