/*-APPS*/

.content > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    height: 40dvh;
  }
}

.content > section .apps {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: var(--current-line);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
}
