* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  appearance: none;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

:root {
  /*DRACULA THEME COLORS*/
  --background: hsl(231, 15%, 18%);
  --shadow: hsl(231, 14%, 10%);
  --modal-background: hsla(231, 14%, 10%, 0.8);
  --current-line: #44475a;
  --comment: #6071a4;
  --foreground: #f8f8f2;
  --cyan: #8be8fd;
  --green: #52fa7c;
  --orange: #ffb86b;
  --pink: #ff7ac6;
  --purple: #bf95f9;
  --red: #ff5757;
  --yellow: #f1fa89;

  font-size: 62.5%;
}

body {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  outline: 1px solid red;
  height: 100%;
  justify-content: center;
  gap: 2rem;
  max-width: 140rem;
}

.noselect {
  user-select: none;
}

button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

input,
textarea,
p {
  font-family: 'Noto Sans', sans-serif;
}

::selection {
  background-color: var(--current-line);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: var(--cyan);
}
